body {
  overflow: auto;
}

.multi-panel-main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0em;
  gap: 0em;
  width: 100vw;
  height: calc(100vh - var(--top-bar-height));
}

#multi-panel-header-container {
  padding: 1em 1em 1em 1em;
}

.multi-panel-panel {
  display: grid;
  padding: 1em 1em 1em 0;
  outline: none;
}

.multi-panel-panel[hidden] {
  display: none;
}

#multi-panel-panel-container {
  overflow: auto;
}
